<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>module</title>
    <script src="js/angular.min.js"></script>
    <script src="js/most1.js"></script>
</head>
<script>
    var module1=angular.module("most",["most1"]);
    module1.controller("c1",fn1);
    function fn1($scope) {
        $scope.name="most";
        $scope.demo="Hah"
    }
    module1.controller("c2",function ($scope) {
        $scope.name="most";
        $scope.demo="Hah"
    });
    module1.controller("c3",["$scope","$timeout",function ($s,$timout) {
        $s.name=1;
        $s.go=function (num) {
            $s.name+=num*1;
            if($s.name==0){
                $s.name=1;
            }
        };
        $s.goo=function () {
            $s.name-=1;
            if($s.name<1){
                $s.name=1;
            }
        }
    }])
</script>
<body ng-app="most">
    <div ng-controller="c1">
        <p>{{name}}</p>
    </div>
    <div ng-controller="c2">
        <p>{{demo}}</p>
    </div>

    <div style="background: orange" ng-controller="c3">  
        <p>{{name}}</p>
        <button ng-click="go(1)">+</button>
        <button ng-click="go(-1)">-</button>
    </div>


    <div ng-controller="c4">
        <p>我是引进来的——{{name}}</p>
    </div>
</body>
</html>