*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
.header{
    width:100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #333;
    background: #999;
}
.footer{
    width:100%;
    height:50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: #333;
    background: #999;
    position: absolute;
    bottom: 0;
    left:0;
}
.footer ul{
    width:100%;
    height:100%;
    display: flex;
}
.footer ul li{
	flex: 1;
}
.bigBang{
    color: red;
}