
@import "libs/base";
#detail-page {
  .content { bottom: 96px;}
  .swiper-container {
    width: 120vw; position: relative; margin-left: -10vw;
    img { width: 40vw; height: 60vw}
  }


  .swiper-btns { height: 30px; padding: 5px 0; text-align: center;
    ul { font-size: 0; display: inline-block; height: 20px; padding: 4px 10px; background-color: #bcbcbc; border-radius: 10px;}

    .swiper-pagination-bullet {display: inline-block;   background-color: #959595; width: 10px; height: 10px; border-radius: 50%; margin:  0 3px;}
    .swiper-pagination-bullet-active {background-color: #fff;}

  }
  .pro-info { padding: 0 0.28rem; font-size: 15px; line-height: 25px;}
}


.detail-footer { @extend %position; top: auto; bottom: 0; height: 96px;
  .look-wrap { height: 48px; background-color: #fff; line-height: 48px;}
  .add-wrap {height: 48px; background-color: #a3a3a3; padding: 4px 1rem;}
  .add-cart { @include  button(40px)}
}